## Prediction/Inference System

## Loading the saved model

In [ ]:
import pandas as pd
from joblib import load
import warnings 
warnings.filterwarnings("ignore")
#from sklearn.externals import joblib for older apis
#from sklearn.externals import joblib
import sklearn
print(sklearn.__version__)

1.0.2

In [ ]:
class CarPredictionModel():
    
    def __init__(self, model, features, rmse):
        self.model = model
        self.features = features
        self.rmse = rmse

In [ ]:
model_v1 = load("cars_v1.pkl")
# For older APIs
#model_v1 = joblib.load('./cars.pkl')

In [ ]:
type(model_v1)

__main__.CarPredictionModel

In [ ]:
model_v1.model

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_imputed',
                                                  Pipeline(steps=[('imputation',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Seats']),
                                                 ('num_not_imputed',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['age', 'engine_new',
                                                   'mileage_new', 'power_new',
                                                   'KM_Driven']),
                                                 ('catvars',
                                                  Pipeline(steps=[('ohencoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Fuel_Type', 'Transmission',
                                                   'Owner_Type', 'make',
                                                   'Location'])])),
                ('knn', KNeighborsRegressor(weights='distance'))])

In [ ]:
model_v1.rmse

0.9598310841411447

In [ ]:
model_v1.features

['KM_Driven',
 'Fuel_Type',
 'age',
 'Transmission',
 'Owner_Type',
 'Seats',
 'make',
 'mileage_new',
 'engine_new',
 'power_new',
 'Location']

### Preparing the record for prediction

In [ ]:
car_dict = {
            'age': 2,
            'KM_Driven' : 5.5, 
            'Fuel_Type' : 'Petrol',
            'Transmission': 'Manual', 
            'Owner_Type': 'First', 
            'Seats' : 5,
            'make': 'maruti',
            'mileage_new' : 16, 
            'engine_new': 1000,
            'power_new': 90,
            'Location': 'Bangalore'
            }

In [ ]:
my_car = {}
for key in model_v1.features:
    my_car[key] = 0

In [ ]:
for key in car_dict:
    my_car[key] = car_dict[key]

In [ ]:
my_car

{'KM_Driven': 5.5,
 'Fuel_Type': 'Petrol',
 'age': 2,
 'Transmission': 'Manual',
 'Owner_Type': 'First',
 'Seats': 5,
 'make': 'maruti',
 'mileage_new': 16,
 'engine_new': 1000,
 'power_new': 90,
 'Location': 'Bangalore'}

### Creating the dataframe for prediction

In [ ]:
df = pd.DataFrame(my_car, index = [0])

In [ ]:
df

,KM_Driven,Fuel_Type,age,Transmission,Owner_Type,Seats,make,mileage_new,engine_new,power_new,Location
0,5.5,Petrol,2,Manual,First,5,maruti,16,1000,90,Bangalore

In [ ]:
df.shape

(1, 11)

## Predicting the price of the used car

In [ ]:
model_v1.model.predict(df)

array([4.65464364])